
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



#app {
    height: 100vh;
}

 /*FUENTES DEL SISTEMA*/

 .lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

.form-control {
    color: black;
    outline:none;
    border-top: 0; border-left: 0;border-right: 0;
    border-bottom:3px solid #5197a896;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: solid 3px #23b91096;
}

.btn-blue {
    background-color: #0d6efd;
    color: white;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.btn-red {
    background-color: #dc3545;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-yellow {
    background-color: #ffc107;
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
/*CLASES ADICIONALES 26-08-24*/
.btn-green {
    background-color: #30c00496;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-wb{
    border-top: 0; border-left: 0;border-right: 0;
    border-bottom:3px solid #5197a896;
}

.btn-wb:focus{
    color:  #23b91096;
    border-bottom:3px solid #23b91096;
}

/* CODIGO PARA LOS CALLOUTS*/

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgb(102, 100, 100);
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}

.fa-opacity {
  opacity: 0.5;            
  color: rgba(0, 0, 0, 0.75); 
}
.callout-danger{
  border-left-color: #d9534f;
}

.callout-success{
  border-left-color: #5cb85c;  
}

.callout-warning{
  border-left-color: #f0ad4e;  
}



/* @each $name,$color in (default,#777),(primary,#428bca),(success,#5cb85c),(danger,#d9534f),(warning,#f0ad4e),(info,#5bc0de), (bdc,#29527a) {
  .callout-#{$name} {
    border-left-color: $color;
    h4 {
      color: $color;
    }
  }
} */