
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#app {
    height: 100vh;
}

.Nunito {
    font-family: Nunito;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;
    opacity: 1;
    order: 1;
    color: rgb(3, 2, 41);
}

.form-control {
    background-color: #E9E9E9;
    color: black;
    border-radius: 0;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.btn-blue {
    background-color: #0d6efd;
    color: white;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.btn-red {
    background-color: #dc3545;
    color: white;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.btn-yellow {
    background-color: #ffc107;
    color: black;
    border-radius: 0;
    border: none;
    cursor: pointer;
}